-vidia-cublas-cu12
backports.tarfile
bitsandbytes
bottleneck
cupy-cuda12x
deepspeed
eicu-meds
email-validator
es-aces
fastapi-cli
fqdn
hf-xet
httptools
isoduration
jaraco.collections
jsonlines
jsonpointer
jupyter
meds-reader
meds-tab
mimic-iv-meds
mkl-service
mpi4py
nested-ragged-tensors
numexpr
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-cufile-cu12
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
peft
pip-chill
pipdeptree
pipreqs
pybind11
pyhealth
pytest
python-dotenv
python-multipart
tinycss2
tomli
transformer-engine
transforms
trl
tzdata
uri-template
uvloop
vllm
wandb
webcolors
websockets
llmlingua
bitsandbytes
peft