accelerate
bert-score
bitsandbytes
datasets
deepspeed
huggingface_hub
joblib
kagglehub
multiprocess
numpy
polars
PyYAML
rouge-score
scikit-learn
tokenizers
torch
tqdm
transformers
vllm==0.12.0
wandb
kagglehub